# Ignore node_modules for both client and server
node_modules/
client/node_modules/
server/node_modules/

# Ignore cache files
client/.cache/
client/node_modules/.cache/
server/node_modules/.cache/

# Ignore build and logs
client/build/
server/build/
logs/
*.log
