/*----------Wrapper For Content Form and Content Cards----------*/

.leave-management{
    display: grid;
    gap: 5px;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "leave-cards leave-form-wrapper";
    background-color: rgb(238, 238, 238);
}

/*----------Leave Form----------*/

.leave-add-form, .leave-search-form{
    margin: 10px;
    padding: 20px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: min(calc(100% - 60px), 300px);
    min-height : max(calc(100vh - 136px), 300px)

}

.leave-form-secondary, .leave-form-search-secondary{
    margin: 0;
    padding: 0;
    width: 100%;
}

.leave-heading{
    font-size: x-large;
    color: #3c5267;
    text-align: center;
    width: 100%;
}

.leave-form-unit{
    display: flex;
    flex-flow: column wrap;
    margin: 0 0 16px 0;
    padding: 0;
}

label{
    margin: 0 0 5px 0;
    font-size: 14px;
    font-family: sans-serif, 'Ubuntu', Verdana, Geneva, Tahoma;
    font-weight: bold;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.form-required{
    color: red;
    margin: 0;
    padding: 0;
}

.date-range-picker, .date-range-picker-error{
    width:100%;
    height: 40px;
	border-radius: 3px;
    border: 1px solid #cbd6e2;
    background-color: white;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
}

.leave-textarea, .leave-textarea-error{
    margin: 0;
    padding: 5px 5px 5px 10px;
	height: 80px;
    width: 100%;
	min-height: 40px;
    box-sizing: border-box;
	border-radius: 3px;
    border: 1px solid #cbd6e2;
    background-color: white;
    color: #615f5f;
    cursor: text;
    resize: none;
} 

.leave-textarea:hover, .leave-textarea-error:hover{
    border-color: rgba(82, 168, 236, 0.8);
}

.leave-textarea:focus, .leave-textarea-error:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 1.6px solid rgba(82, 168, 236, 0.2);
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(127, 126, 126, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: #cbd6e2;
  border-radius: 4px;
  outline: none
}

.file-upload-area, .file-upload-area-error{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    border: 2px dashed #cbd6e2;
    border-radius: 3px;
    cursor: pointer;
    width: calc(100% - 4px);
    height: 75px;
    color: #615f5f;
}

.file-upload-area img, .file-upload-area-error img{
    height: 35px;
}

.file-upload-area p, .file-upload-area-error p{
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.file-upload-status, .file-upload-status-error{
    margin-top: 5px;
    padding: 2px 4px;
    width: calc(100%-8px);
    color: #333333;
    background-color: #cbd6e2;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: auto;
    font-size: 13px;
}

.filename{
    margin: 0;
    padding: 0;
    margin-right: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.undo-attachment-icon{
    height: 1.4em;
    width: 1.4em;
    margin-left: auto;
    color: #5b6d7d;
    cursor: pointer;
    transition: all 0.2s;
}

.leave-btn-submit{
    font-size: medium;
    font-weight: 600;
	color: white;
    background-color: #0C3A53;
    border: 3px solid #0C3A53;
	border-radius: 3px;
    margin: 8px 0 16px 0;
    padding: 0 10px;
    width: 100%;
	height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s
}

.leave-btn-submit:hover{
	background-color: #0EBAB1;
    border: 2px solid #0EBAB1;
}

.leave-textarea-error, .date-range-picker-error{
    border: 1px solid #D63301;
}

.file-upload-area-error{
    border: 2px dashed #D63301 !important;
}

.file-upload-status-error{
    background-color: #edcaca;
    color: #D63301;
}

.leave-submit-error{
    font-size: 1em;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0 0 16px 0;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
	border-radius: 3px;
    border: none;
    background-color: #edcaca;
    color: #D63301;
    cursor: text; 
}

/*----------leave Card----------*/

.leaves{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.no-leaves{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    margin: 50px 10px
}

.no-leaves h2{
    font-size: large;
    color: #3c5267;
    text-align: center;
    margin: 0;
}

.no-leaves img, .no-leaves-manage img{
    max-height: 250px;
    margin: 10px 20px;
    filter: grayscale(20%);
}

.no-leaves-manage img{
    filter: grayscale(40%);
    width: 150px;
}

.leave-card{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    background-color: #fafafa;
    margin: 10px;
    padding: 10px;
    width: min(calc(100% - 40px), 550px);
    font-size: medium;
    font-weight: 700;
    color: #333333;
    transition: all 0.5s;
}

.leave-card:hover{
    background-color: white;
}

.leave-card-delete-wrapper{
    width: 100%;
    height: 1.6em;
    display: flex;
    justify-content: flex-end;
}

.leave-card-delete-icon{
    height: 1.6em;
    width: 1.6em;
    color: #333333;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s;
}

.leave-card-delete-icon:hover, .undo-attachment-icon:hover{
	transform: scale(1.1);
}

.icon-accept, .icon-reject{
    opacity: 0.7;
    transition: all 0.3s;
}

.icon-reject{
    color: #0C3A53;
}

.icon-accept{
    color: #0EBAB1;
}

.leave-card-delete-icon:focus, .icon-accept:focus, .icon-reject:focus{
    outline: none;
}

.leave-card-content-wrapper{
	display: grid;
	/* gap: 0px;
	grid-template-columns: 1fr 4fr; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    min-height: 100px;
}

.leave-card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0;
}

.leave-cotent-profile {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.leave-cotent-profile label, .leave-cotent-profile p{
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-family: 'Ubuntu';
    font-size: 1em;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.leave-cotent-profile label{
    font-size: 14px;
    color: #5b6d7d
}

.leave-cotent-profile p{
    color: #1d578a;
}

.leave-profile-name{
    text-transform: capitalize;
}

.leave-profile-date{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.leave-date-space-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
} 

.leave-card-description-wrapper{
    line-height: 20px;
    font-size: 1em;
    color:#5b6d7d;
    margin-top: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.leave-card-description-wrapper label{
    font-family: 'Ubuntu';
    font-size: 1em;
    color:#333333;
    margin-right: 10px;
}

.leave-card-status-wrapper, .leave-card-status{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    line-height: 20px;
}

.leave-card-status-wrapper{
    margin-top: 10px;
}

.leave-card-status{
    justify-content: center;
}

.leave-card-standing, .leave-card-standing-g, .leave-card-standing-r{
    border: 2px solid #0C3A53;
    color: #0C3A53;
    font-weight: bolder;
    background-color: #cbd6e2;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: default;
}

.leave-card-standing-g{
    border-color: rgb(0, 160, 0);
    color: rgb(0, 160, 0);
    background: rgb(202, 245, 202);
}

.leave-card-standing-r{
    border-color: #D63301;
    color: #D63301;
    background-color: #edcaca;
}

.leave-card-attach{
    border-radius: 12px;
    border: 2px solid #0EBAB1;
    background-color: #0EBAB1;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px;
}

.attach-icon{
    width: 20px;
    height: 20px;   
    cursor: pointer;
    transition: all 0.5s;
}

.attach-icon:hover{
    transform: scale(1.1);
}


.distance-now{
    color:#5b6d7d;
    margin: 0 6.4px 0 0;
}

/*----------Making Leave Cards And Form Responive----------*/

.leaves{
    grid-area: leave-cards;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.leave-form-wrapper{
    grid-area: leave-form-wrapper;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.leaves{
    margin: 10px 0;
    width: calc(100% - 20px);
}

@media only screen and (max-width: 900px){

    .leave-add-form{
        width: min(calc(100vw - 100px), 530px);
    }

    
    .leave-management{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    } 

    .leaves{
        margin: 10px;
    }

    .no-leaves{
        margin-top: 0;
    }

    .no-leaves-manage{
        margin-top: 50px;
    }

    .no-leaves img {
        height: 150px;
        margin: 0px 10px 10px 10px;
    }

    .leave-add-form{
        min-height: auto;
    }

    .leave-search-form{
        min-height: auto;
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .leave-form-search-secondary{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        grid-template-areas: "leave-heading leave-heading"
                             "leave-sort leave-status"
                             "leave-date leave-email";
        width: 100%;
    }

    .leave-area-heading{grid-area: leave-heading}
    .leave-area-sort{grid-area: leave-sort}
    .leave-area-status{grid-area: leave-status}
    .leave-area-date{grid-area: leave-date}
    .leave-area-email{grid-area: leave-email}
}

/* The styling classes below tend to style leaveManagement.js building upon previous style for applyLeave.js */

.search-unit{
    margin: 0;
    padding: 0 10px;
    width: 100%;
	height: 40px;
    box-sizing: border-box;
	border-radius: 3px;
    border: 1px solid #cbd6e2;
    background-color: white;
    color: #333333;
    appearance: none;
}

.cursor-pointer{
    cursor: pointer;
}

.search-unit:hover, .search-unit:focus, .sort-wrapper button:hover{
    border-color: rgba(82, 168, 236, 0.8);
}

.search-unit:focus, .sort-wrapper button:hover{
    outline: 1.6px solid rgba(82, 168, 236, 0.2);
}

.absolute-icon-wrapper{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
}

.drop-icon{
    position: absolute;
    pointer-events: none;
    height: 15px;
    width: 15px;
    padding: 0 8px;
    cursor: pointer;
    color: #cbd6e2;
}

.absolute-icon-wrapper button{
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.checkmark-icon{
    height: 15px;
    width: 15px;
    padding: 0px 8px;
    color: rgba(82, 168, 236, 0.8);
    cursor: pointer;
}

.hide-icon{
    display: none;
}

.absolute-icon-wrapper .search-unit, .absolute-icon-wrapper .search-unit:focus{
    padding-right: 31px;
}

.absolute-icon-wrapper:focus-within::after{
    color: red;
}

.sort-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.sort-wrapper button{
    margin: 0;
    padding: 0 10px;
    height: 100%;
    width: 49%;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
    background-color: white;
    color: #333333;
    font-weight: 500;
    font-size: small;
    cursor: pointer;
}

.sort-selection{
    border-color: rgba(82, 168, 236, 0.8) !important;
}

.email-search-response{
    margin-top: 5px;
    padding: 2px 4px;
    width: calc(100%-8px);
    color: #333333;
    background-color: #cbd6e2;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-size: 13.5px;
    line-height: 20px;
}